/*
Robert H. Grant
MiU :: 1110 :: P1
Full Sail Univeristy
Instructor: Chris Burke
Filename: style.css
                                                                           */


/* =====================================================================================================
   INDEX.HTML
   ===================================================================================================== */
body {
    background: black;
}
div#mainMenu {
    border: none;
    margin-bottom: -10px;
}

p#branding {
    text-align: center;
    margin-bottom: -8px;
}

p#ctaPara {
    text-align: center;
    border: none;
}

div#cta {
    border: none;
}

ul#buttons > li {
    text-align: center;
    margin-bottom: -4px;
}

img#addItem {
    margin-top: -10px;
}

/* Align Bob's DVD Superstore image */
img#headerImage {
    margin-top: 20px;
    border: 1px solid white;
    opacity: 0.6;
}

img#searchBox {
    text-align: center;
}

input#searchBox {
    height: 30px;
    font-size: larger;
}

/* SET LEFT MARGIN FOR ALL BUTTONS ON INDEX.HTML */
li {
    margin-left: -40px;
}

/* Aligns my credits on the index.html bottom right. */
p#credits {
    margin-top: 15px;
    color: blue;
}

/* Credits is a hyperlink to my Full Sail email account -- Setup colors so they
   hover differenlty then all other hyperlinks where opacity was used. */
a#emailLink:hover {
    color: #CCCC00;
    opacity: 1.9;
}

/* END INDIVIDUAL SETTINGS FOR BUTTONS ON INDEX.HTML */

/* ====================================================================================
   RECEIPT CONTROL
   ==================================================================================== */

fieldset#receipt {
    display: none;
    width: 308px;    
    overflow: hidden;
} 

/* Put rustic looking paper texture behind each receipt. */
fieldset > div {
    background-image: url('../img/receipt.jpg');
    background-repeat: no-repeat;
}

/* Put a nice grey box around each receipt */
div {
    border: 1px double gray;
}

/* Setup the receipt, but keep it hidden until needed. */
#receipt {
    margin-left: -12px;
    background-color: #d0e9d5;
    font-family: courier;
    font-size: 12px;
}

/* Header that appears over all receipts that says, "Your orders" */
p#orderTitle {
    color: #0b6801;
    text-align: center;
    margin-bottom: -10px;
    font-size: 18px;
    font: bold;
}

/* Graphic that loads behind above text in orderTitle. */
div#orderHeader {
    background-image: url('../img/orderHeader.jpg');
}


/* Bobs DVD Superstore on top of header that is in orderTitle above. */
#receiptHeader {
    text-align: center;
    color: black;
    font-size: 10px;
}


/* Hides bullets from the <ul> on the receipt */
.receiptList {
    list-style-type: none;
}


/* Centers graphic on receipt */
#receiptGraphic {
    margin-left: -30px;
    font-family: courier;
    text-align: center;
}

/* Delete Item(myA)        Edit Item(myB) links */
#myA {
    margin-left: 20px;
}
#myB {
    margin-left: 100px;
}

/* Sets location of Clear Local Storge link on top of all receipts */
p#clearLink {
    font-size: 12px;
    font: bold;
    text-align: center;
}

/* Center graphic on receipt */
fieldset > div > img {
    margin-left: 100px;
}


