/*
	Robert H. Grant
	VFW :: 1108 :: P4
	Full Sail University - Online
	Instructor: Chad Gibson
	Filename: style.css
                                                                           */


/* =====================================================================================================
   INDEX.HTML
   ===================================================================================================== */



/* Puts top image where it needs to be */
div#mainMenu {
    background: url(../img/topimage.jpg);
    width: auto;
    border: hidden;
    background-repeat: no-repeat;
    overflow: hidden;
}

img#branding {
    margin-top: 100px;
    width: auto;
    height: auto;
}

/* Align Bob's DVD Superstore image */
img#headerImage {
    margin-top: 20px;
    border: 1px solid white;
    opacity: 0.6;
}

/* Center companyMessage on div#mainMenu above */
p#companyMessage {
    color: white;
    margin-top: 2px;
    margin-left: 10px;
}


/* SET LEFT MARGIN FOR ALL BUTTONS ON INDEX.HTML */
li {
    margin-left: -40px;
}

/* INDIVIDUAL SETTINGS FOR BUTTONS ON INDEX.HTML */

/* Download Catalog */
img#downloadCat {
    margin-top: -5px;
}

/* Request Catalog */
img#requestCat {
    margin-top: -4px;
}

/* Order Status */
img#orderStat {
    margin-top: -1px;
}

/* Settings */
img#settings {
    margin-top: -4px;
    margin-left: -1px;
}

/* Sign out */
img#signout {
    margin-top: -7px;
}

/* Aligns my credits on the index.html bottom right. */
p#credits {
    margin-top: 75px;
    margin-left: 120px;
    opacity: 0.4;
}

/* Credits is a hyperlink to my Full Sail email account -- Setup colors so they
   hover differenlty then all other hyperlinks where opacity was used. */
a#emailLink:hover {
    color: black;
    opacity: 1.9;
}

/* END INDIVIDUAL SETTINGS FOR BUTTONS ON INDEX.HTML */

/* =====================================================================================================
   ADDITEM.HTML
   ===================================================================================================== */

/* Set the background image and parameters of the fieldset */
fieldset#main {                  
    width:300px;
    margin-left: -10px;
    background: url(../img/background.jpg);
    overflow: hidden;                      
} /* END fieldset main */


/* Setup GREEN GRAPHIC header */
header#titlebar {                          
    font-size: 12px;                       
    height: 50px;                          
    width: 325px;                          
    margin-left: -14px;                    
    margin-bottom: 10px;                   
    margin-top: -15px;                     
    border: 1px solid black;               
    color: #1a3402;                        
    background-image:url('../img/button.jpg');
    background-repeat:no-repeat;              
    text-align:center;                        
} /* END header#titlebar */ 



/* Set the width and cursor pointer for the range slider */
input#copiesNeeded {                          
    width: 290px;
    cursor: move;
} /* END input#copiesNeeded */



/* Set the border and cursor pointer for the checkbox. */
input#wasInTheaters {                         
    outline: double;                          
    
    /* Hand pointer for cursor */
    cursor: pointer;
    
} /* END input#wasInTheaters */



/* Make all labels use the following settings */
label {              
    font-family: Arial, Times, Helvetica;
    color: #1a3402;
} /* END label */


body {
    background: black;
    margin-top: 0px;
} /* END body */



/* Hide the legend */
legend#legMovie {    
    display:none;    
} /* END legend#legMovie */


/* Set hyperlink colors LoVe HAte */
a:link {color: #1a3402;}
a:visited{color: black;}
a:hover{color: #55812d;}
a:active{color: #faf104;}
} /* END a */


/* Make all input fields transparent for uniqueness */
input {
    opacity:0.8;     
} /* END input */

/* Center the submit button */
p#submitButton {
    text-align: center;
} /* END p#submitButton */


/* Set shipping box parameters. */
textarea#tcomment {  
    height: 80px;
    margin-bottom: 2px;
} /* END textarea#tcomment */


/* Setup release date parameters. */
input#releaseDate {
    margin-top: 20px;
    width: 90px;
} /* END input#releaseDate */

/* ====================================================================================
   RECEIPT CONTROL
   ==================================================================================== */

fieldset#receipt {
    display: none;
    width: 308px;    
    overflow: hidden;
} 

/* Put rustic looking paper texture behind each receipt. */
fieldset > div {
    background-image: url('../img/receipt.jpg');
    background-repeat: no-repeat;
}

/* Put a nice grey box around each receipt */
div {
    border: 1px double gray;
}

/* Setup the receipt, but keep it hidden until needed. */
#receipt {
    margin-left: -12px;
    background-color: #d0e9d5;
    font-family: courier;
    font-size: 12px;
}

/* Header that appears over all receipts that says, "Your orders" */
p#orderTitle {
    color: #0b6801;
    text-align: center;
    margin-bottom: -10px;
    font-size: 18px;
    font: bold;
}

/* Graphic that loads behind above text in orderTitle. */
div#orderHeader {
    background-image: url('../img/orderHeader.jpg');
}


/* Bobs DVD Superstore on top of header that is in orderTitle above. */
#receiptHeader {
    text-align: center;
    color: black;
    font-size: 10px;
}


/* Hides bullets from the <ul> on the receipt */
.receiptList {
    list-style-type: none;
}


/* Centers graphic on receipt */
#receiptGraphic {
    margin-left: -30px;
    font-family: courier;
    text-align: center;
}

/* Delete Item(myA)        Edit Item(myB) links */
#myA {
    margin-left: 20px;
}
#myB {
    margin-left: 100px;
}

/* Sets location of Clear Local Storge link on top of all receipts */
p#clearLink {
    font-size: 12px;
    font: bold;
    text-align: center;
}

/* Center graphic on receipt */
fieldset > div > img {
    margin-left: 100px;
}


